name: SonarCloud Scan

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  sonarcloud:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: 17

      - uses: sonarsource/sonarcloud-github-action@v2
        with:
          organization: devegi07
          projectKey: Devegi07_Sonar-scan-learn
        env:
          SONAR_TOKEN: ${{ secrets.AI_Monitor }}
